<ng-container *ngIf="blok">
  <div class="blok" [ngStyle]="{ 'background-color': blok.background_color }">
    page:
    <br />
    child components: {{ blok.body.length }}
  </div>
  <ng-template
    *ngFor="let childBlok of blok.body"
    [storyblokComponent]="childBlok"
  ></ng-template>
</ng-container>
