<ng-container *ngIf="blok">
  <div class="blok">
    grid:
    <br />
    columns: {{ blok.columns.length }}
  </div>
  <div class="grid">
    <div *ngFor="let column of blok.columns" class="column">
      <ng-template [storyblokComponent]="column"></ng-template>
    </div>
  </div>
</ng-container>
