<ng-container *ngIf="blok">
  This is the default fallback storyblok component! You have to implement the
  storyblok component "{{ blok.component }}" or provide your own fallback
  component. <br /><br />
  component data:
  <pre>{{ blok | json }}</pre>
</ng-container>
